<div class="container">
    <div class="row">

        <div class="col-lg-2">
            <div class="row">
                <div class="col-lg-12">
                    &copy;Copyright {{year}}<br>
                    All Rights Reserved
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    CONTACT
                </div>             
            </div>  
            <div class="row">
                <div class="col-lg-12">
                    Headquarters:<br/>
                    5600, Blvd. des Galeries, Bur 530<br/>
                    Québec Québec G2K 2H6
                </div>       
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="mailto:contact@osf-global.com">contact@osf-global.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="tel:+1 (888) 548-4344">+1 (888) 548-4344</a>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <header>
                        CATEGORIEST
                    </header>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    Home
                </div>
                <div class="col-lg-4">
                    Women's fashion
                </div>
                <div class="col-lg-4">
                    Travel
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    Baby's fashion
                </div>
                <div class="col-lg-4">
                    Women's fashion
                </div>
                <div class="col-lg-4">
                    Travel
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    Men's fashion
                </div>
                <div class="col-lg-4">
                    Women's fashion
                </div>
                <div class="col-lg-4">
                    Sport
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="row">
                <div class="col-lg-12">
                    <header>
                        ABOUT
                    </header>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    Women
                </div>
            </div>  
            <div class="row">
                <div class="col-lg-12">
                    Baby
                </div>
            </div>  
            <div class="row">
                <div class="col-lg-12">
                    Men
                </div>
            </div>     
        </div>

        <div class="col-12 col-lg-2">
            <div class="row">
                <div class="col-3 col-lg-3">
                    <a href="https://www.facebook.com" target="_blank">
                        <img class="img-icons" src="assets/logo/facebook.png" width="20px" height="auto"/>
                      </a>
                </div>
                <div class="col-3 col-lg-3">
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                        <img class="img-icons" src="assets/logo/google-logo.png" width="20px" height="auto"/>
                        </a>
                </div>
                <div class="col-3 col-lg-3">
                    <a href="https://twitter.com/?lang=ro" target="_blank">
                        <img class="img-icons" src="assets/logo/twitter.png" width="20px" height="auto"/>
                        </a>
                </div>
                <div class="col-3 col-lg-3">
                    <a href="https://ro.pinterest.com/" target="_blank">
                        <img class="img-icons" src="assets/logo/pinterest.png" width="20px" height="auto"/>
                    </a>
                </div>
            </div>   
        </div>

    </div>

</div>
