
table{
    width: 100%;
}
table,tr,td,th {
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    // margin-left:50px;
    .delete-button {
        background: red;
        width: 100%;
        margin: 0px;
    }
}
h2 {
font-weight: 600;
margin-left: 50px;
margin-top: 50px;
}
#select-number {
    border:1px solid grey;
    border-radius: 10px;
    margin-top: 20px;
    width: 92px;
    display: inline-block;
    .add-prod {
        display: inline-block;
        width: 30px;
        text-align: center;        
    }
    
}

.my-input {
    border: none;
    text-align: center;
}

// @media screen and (max-width: 700px) {
//     table {
//         max-width: 100%;
//     }


// }