.navigation {
    background: blueviolet;
    font-size: 30px;
    text-align: center;
    a{
        color: white;
        font-weight: 600;
    }
}
.container-fluid {
    height:700px;
    .row{
        border: 1px solid green;
        height: 100%;
            margin: 0px;
    }
}
// marquee {
//     text-align: center;
// }
.cont {
    display: inline-block;
    position: relative;
    text-align: center;
    color:blueviolet;
    margin-left: -100px;
    animation-name: example1;
    animation-duration: 10s;
    animation-iteration-count: infinite;   
}
@keyframes example1 {
    0% {background-color: paleturquoise;}
    100% {margin-left: 100%;}
}
.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: 600;
        color: orangered;
    }
    // .first {
    //     margin-bottom: 0px;
    //     position: relative;
    //     animation-name: example1;
    //     animation-duration: 8s;
    //     animation-iteration-count: infinite;
    // }
    // @keyframes example1 {
    //     0% {background:red; bottom:0px;left:0px;}
    //     25% {background: yellow; bottom: 200px;}
    //     50% {background:green; bottom: 300px;}
    //     75% {background: pink; bottom: 400px;}
    //     100% {background:blue; }
    //   }
    //   .second {
    //     margin-bottom: 0px;
    //     position: relative;
    //     animation-name: example2;
    //     animation-duration: 8s;
    //     animation-iteration-count: infinite;
    // }
    // @keyframes example2 {
    //     0% {background:red; bottom:0px;left:200px;}
    //     25% {background: yellow; bottom: 200px;}
    //     50%{background:green; bottom: 300px;}
    //     75% {background: pink; bottom: 400px;}
    //     100%{background:blue; }
    //   }
    //   .third {
    //     margin-bottom: 0px;
    //     position: relative;
    //     animation-name: example3;
    //     animation-duration: 8s;
    //     animation-iteration-count: infinite;
    //   }
    //   @keyframes example3 {
    //     0% {background:red; bottom:0px;left:400px;}
    //     25% {background: yellow; bottom: 200px;}
    //     50% {background:green; bottom: 300px;}
    //     75%{background: pink; bottom: 400px;}
    //     100% {background:blue; }
    //   }
    //   .fourth {
    //     margin-bottom: 0px;
    //     position: relative;
    //     animation-name: example4;
    //     animation-duration: 8s;
    //     animation-iteration-count: infinite;
    //   }
    //   @keyframes example4 {
    //     0% {background:red; bottom:0px;left:500px;}
    //     25% {background: yellow; bottom: 200px;}
    //     50%{background:green; bottom: 300px;}
    //     75% {background: pink; bottom: 400px;}
    //     100% {background:blue; }
    //   }
   
    //   .fifth {
    //     margin-bottom: 0px;
    //     position: relative;
    //     animation-name: example5;
    //     animation-duration: 8s;
    //     animation-iteration-count: infinite;
    //   }
    //   @keyframes example5 {
    //     0% {background:red; bottom:0px;left:600px;}
    //     25% {background: yellow; bottom: 200px;}
    //     50% {background:green; bottom: 300px;}
    //     75% {background: pink; bottom: 400px;}
    //     100% {background:blue; }
    //   }
   
   
