.row {
    margin-top: 5px;
    border-bottom: 2px solid black;
}
.wish-photo {
    width: 80%;
    // margin: 0px;
}
.fa-remove {
    float: right;
}
header, p {
    font-size: 20px;
    font-weight: 600;
}
.buy-button { 
    margin-left: 10px;
    color: blue;
}
.col-lg-2 {
    text-align: right;
}
