<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <header>
                Cati mingiute sunt in imaginile de mai jos?
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
           <div #div1 class="circle" style="color:coral;" (click)="getNumber(div1.innerHTML)">
                1
        </div>
        </div>
        <div class="col-lg-2">
            <div #div2 class="circle" style="color:rgb(75, 143, 30);" (click)="getNumber(div2.innerHTML)">
                2
            </div>
        </div>
        <div class="col-lg-2">
            <div  #div3 class="circle" style="color:coral;" (click)="getNumber(div3.innerHTML)">
                3
            </div>
        </div>
        <div  class="col-lg-2">
            <div #div4 class="circle" style="color:rgb(59, 33, 151);" (click)="getNumber(div4.innerHTML)">
                4
            </div>
        </div>
        <div  class="col-lg-2">
            <div #div5 class="circle" style="color:rgb(145, 32, 107);" (click)="getNumber(div5.innerHTML)">
                5
            </div>
        </div>
        <div class="col-lg-2">
            <div  #div6 class="circle" style="color:rgb(209, 206, 15);" (click)="getNumber(div6.innerHTML)">
                6
            </div>
        </div>
</div>

<div class="row last-row">
    <div class="col-lg-2 last-col">
        <img src="assets/games/ball.png"/>
    </div>
    <div class="col-lg-2">
        <img src="assets/games/ball.png" />
    </div>
<div class="col-lg-2">
    <img src="assets/games/ball.png" />
</div>
    <div class="col-lg-2">
        <img src="assets/games/ball.png" />
    </div>
    <div class="col-lg-2 last-col">
        <img src="assets/games/ball.png" />
    </div>
</div>
    </div>
